# Project specific
projcat
coverage.out
coverage.html
.projcatignore
.projcatpromptfiles

*.out
*.html
/vendor/

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.history
.roocode-ignore

# Other
*.local
